<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=user.username%></h1>
    <p>
        用户密码：<%=user.password%>
    </p>
    <p>
        联系方式：<%=user.tel%>
    </p>
    <p>
        创建时间：<%=user.create_time%>
    </p>
</body>
</html>