/* header 开始 */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "HanHei SC", "PingFang SC", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

button {
  font: 14px "HanHei SC", "PingFang SC", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

header {
  background: #333333;
  height: 40px;
  color: #ffffff;
  font-size: 12px;

}

header .link-list {}

header li {
  float: left;
  line-height: 40px;
}

header .login {
  float: right;
}

header a {
  color: #ffffff;
}

header span {
  margin: 0 6px;
}

/* header 结束 */

/* nav 开始 */
nav {
  height: 100px;
}

nav img {
  width: 187px;
  height: 55px;
  margin-top: 23px;
}

.nav-list {
  float: right;
  margin-top: 29px;
  margin-right: -23px;
}

.nav-list .nav-item {
  float: left;
  padding: 0 23px;
  position: relative;
}

.nav-list .sub-toggle {
  padding-bottom: 20px;
}

.nav-list .sub-toggle:hover+.sub-list {
  display: block;
}

.nav-list .sub-list {
  background: #ffffff;
  width: 150px;
  height: 80px;
  padding: 10px 0;
  border: 1px solid#E5E5E5;
  position: absolute;
  left: -31px;
  top: 47px;
  display: none;
  border-radius: 2px;
}

.nav-list .sub-list:hover {
  display: block;
}

.nav-list .sub-list::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border: 1px solid#E5E5E5;
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  left: 72px;
  border-bottom: transparent;
  border-right: transparent;
}

.nav-list .sub-item a {
  font-size: 16px;
}

nav a {
  color: #212121;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

nav .sub-link:hover {
  background: #eeeeee;
}

nav a:hover {
  color: #e94400;
}

/* nav 结束 */

/* banner 开始 */

#banner {
  height: 640px;
  background: url(./images/banner.jpg) center;
  /* 用来解决外边距合并的问题 */
  /* overflow: hidden; */
  text-align: center;
}

#banner h2 {
  font-size: 54px;
  color: #ffffff;
  font-weight: 300;
  padding-top: 193px;
}

#banner button {
  color: #fff;
  font-size: 24px;
  background: #F93F2B;
  width: 260px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  border: none;
  margin-top: 36px;
  outline: none;
}

#banner button:hover {
  background: #df3a28;
  cursor: pointer;
}

/* banner 结束 */

/* main 开始 */

main.wrapper {
  height: 469px;
  border: 1px solid #E6E6E6;
  margin-top: -80px;
  background: #ffffff;
}

.info-item {
  margin: 30px;
  width: 360px;
  float: left;
  margin-right: 0;
}

.info-item a {
  font-size: 16px;
  color: #666666;
}

.info-item .info-img {
  background: url(./images/bg1.png);
  width: 360px;
  height: 180px;
  background-size: cover;
  overflow: hidden;
}

.info-item .info-img.img-blue {
  background-image: url(./images/bg2.png);
}

.info-item .info-img.img-blue+ul span {
  color: #4481C8;
}

.info-item .info-img p {
  font-size: 33px;
  color: #ffffff;
  margin-top: 44px;
  margin-left: 30px;
}

.info-item .info-img p.desc {
  margin-top: 16px;
}

.info-item ul {
  margin: 20px 30px;
  padding-bottom: 10px;
}

.info-item ul li {
  height: 42px;
  line-height: 42px;
}

.info-item span {
  color: #EA5600;
}

.info-more {
  width: 300px;
  height: 62px;
  line-height: 62px;
  color: #FD3911;
  margin: 0 auto;
  border-top: 1px solid #ECECEC;
  text-align: center;
}

/* main 结束 */

/* footer 开始 */

footer {
  padding-bottom: 45px;
}

.footer-left {
  float: left;
  margin-top: 100px;
}

.footer-left img {
  width: 46px;
  height: 46px;
  float: left;
  margin-right: 8px;
}

.footer-content {
  float: left;
}

footer .link-list {
  margin-bottom: 10px;
  margin-top: 3px;
}

.footer-content .link-list a {
  color: #575757;
  font-size: 14px;
  display: inline-block;
  height: 14px;
}

.footer-content li {
  float: left;
  border-right: 1px solid #575757;
  height: 14px;
  line-height: 14px;
  padding: 0 8px;
}

.footer-content li:last-child {
  border: none;
}

.copyright {
  font-size: 12px;
  color: #6d6d6d;
}

.footer-right {
  float: right;
  color: #575757;
  margin-top: 81px;
}

.footer-right .desc {
  font-size: 14px;
}

.footer-right .tel {
  font-size: 26px;
  color: #E84519;
}

.footer-right .time {
  font-size: 12px;
}

/* footer 结束 */