<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/login.css">
</head>

<body>
    <div class="container">
        <%- include('header') %>

            <div class="login-form">
                <h3>用户注册</h3>
                <form action="/regist" method="post">
                    <p>
                        用户名：<input type="text" name="username" id="username"> <span id="info"></span>
                    </p>
                    <p>
                        密码：<input type="password" name="password">
                    </p>
                    <p>
                        昵称：<input type="text" name="nickname">
                    </p>
                    <p>
                        <button type="submit" class="btn">注册</button></button>
                    </p>
                </form>
            </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let iptUsername = document.getElementById('username');
        let spanInfo = document.getElementById('info');
        iptUsername.onblur = function () {
            axios.get('/checkUser', {
                params: {
                    username: this.value
                }
            }).then(function (response) {
                if(response.data == "success"){
                    spanInfo.innerHTML = 'OK'
                }else{
                    spanInfo.innerHTML = '用户名已存在!';
                }
            }).catch(function (error) {
                console.log(error);
            });
        };

    </script>
</body>

</html>