<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="title">MyBlog</div>
            <div class="login-box">
                <a href="#">登录</a> / <a href="#">注册</a>
            </div>
        </header>

        <div class="login-form">
            <h3>用户注册</h3>
            <form action="/regist" method="post">
                <p>
                    用户名：<input type="text" name="username">
                </p>
                <p>
                    密码：<input type="password" name="password">
                </p>
                <p>
                    昵称：<input type="text" name="nickname">
                </p>
                <p>
                    <button type="submit" class="btn">注册</button></button>
                </p>
            </form>
        </div>
        
    </div>
</body>
</html>